<!DOCTYPE html>
<html lang="es">

  <%-include('../partials/head') %>
  
  <body>

    <%-include('../partials/header') %>

    <main class="productsList">
      <!-- <h2>Oferta de productos</h2> -->
      <h3>Sillas y Mesas</h3>
      <section>
        <div class="productos">
            <div class="prodGrupo">
           
                  <div class="prodUnidad">
                    <img src="/images/products/silla.jpg" alt="imagen de producto">
                        <p>Sillas Blancas</p>
                        <!-- <a href="" class="button">VER MAS</a></a> -->
                </div>

                <div class="prodUnidad">
                  <img src="/images/products/sillones-2.jpg" alt="imagen de producto">
                      <p>Juegos de living</p>
                      <!-- <a href="" class="button">VER MAS</a></a> -->
              </div>

                <div class="prodUnidad">
                  <img src="/images/products/mesa-8.jpg" alt="imagen de producto">
                      <p>Mesas para 8 personas</p>
                      <!-- <a href="" class="button">VER MAS</a></a> -->
              </div>

       
                                 
            </div>                
        </div>        
    </section>

      <h3 id="vajilla">Vajilla</h3>
      <section>
        <div class="productos">
            <div class="prodGrupo">
              <div class="prodUnidad">
                <img src="/images/products/plato.jpg" alt="imagen de producto">
                    <p>Platos</p>
                    <!-- <a href="" class="button">VER MAS</a></a> -->
              </div>

            <div class="prodUnidad">
              <img src="/images/products/cubiertos.jpg" alt="imagen de producto">
                  <p>Cubiertos</p>
                  <!-- <a href="" class="button">VER MAS</a></a> -->
            </div>

            <div class="prodUnidad">
              <img src="/images/products/copas.jpg" alt="imagen de producto">
                  <p>Copas</p>
                  <!-- <a href="" class="button">VER MAS</a></a> -->
            </div>
            
            <div class="prodUnidad">
              <img src="/images/products/fuentes.jpg" alt="imagen de producto">
                  <p>Fuentes</p>
                  <!-- <a href="" class="button">VER MAS</a></a> -->
            </div>

            <div class="prodUnidad">
              <img src="/images/products/hielera-jarra.jpg" alt="imagen de producto">
                  <p>Hieleras y Jarras</p>
                  <!-- <a href="" class="button">VER MAS</a></a> -->
            </div>

            <div class="prodUnidad">
              <img src="/images/products/paneras-min.jpg" alt="imagen de producto">
                  <p>Paneras</p>
                  <!-- <a href="" class="button">VER MAS</a></a> -->
            </div>

            <div class="prodUnidad">
              <img src="/images/products/ensalederas-min.jpg" alt="imagen de producto">
                  <p>Ensaladeras</p>
                  <!-- <a href="" class="button">VER MAS</a></a> -->
            </div>

            <div class="prodUnidad">
              <img src="/images/products/cazuelas.jpg" alt="imagen de producto">
                  <p>Cazuelas</p>
                  <!-- <a href="" class="button">VER MAS</a></a> -->
            </div>

            <div class="prodUnidad">
              <img src="/images/products/vaso-whisky.jpg" alt="imagen de producto">
                  <p>Vasos de Whisky</p>
                  <!-- <a href="" class="button">VER MAS</a></a> -->
            </div>

            <div class="prodUnidad">
              <img src="/images/products/vaso-refresco.webp" alt="imagen de producto">
                  <p>Vasos de Refresco</p>
                  <!-- <a href="" class="button">VER MAS</a></a> -->
            </div>

            <div class="prodUnidad">
              <img src="/images/products/tazas-2.jpg" alt="imagen de producto">
                  <p>Tazas de Café y Té con Plato</p>
                  <!-- <a href="" class="button">VER MAS</a></a> -->
            </div>
                                 
            </div>                
        </div>        
    </section>

      <h3 id="otros">Otros</h3>
        <section>
            <div class="productos">
                <div class="prodGrupo">
                  <div class="prodUnidad">
                    <img src="/images/products/anafe-min.jpg" alt="imagen de producto">
                        <p>Anafe + Garrafa</p>
                        <!-- <a href="" class="button">VER MAS</a></a> -->
                  </div>

                  <div class="prodUnidad">
                    <img src="/images/products/horno-gas.jpg" alt="imagen de producto">
                        <p>Horno a Gas</p>
                        <!-- <a href="" class="button">VER MAS</a></a> -->
                  </div>

                  <div class="prodUnidad">
                    <img src="/images/products/hongo.webp" alt="imagen de producto">
                        <p>Hongo Calefactor</p>
                        <!-- <a href="" class="button">VER MAS</a></a> -->
                  </div>
                                     
                </div>                
            </div>            
        </section>

    </main>

    <%-include('../partials/footer') %>
  </body>
</html>
