<footer class="footer" id="footer">
        
    <div class="columnas">
        <div class="logo">
            <a href="/"><h2>FERNANDO UTIL EVENTOS</h2></a>
        </div>


         <div class="informacion">
            <a href="/">Inicio</a> 
         </div>
     
         <!-- <div class="informacion">
            <a href="/formPresupuesto">Pedir Presupuesto</a>         
         </div>  -->

        <div class="informacion">
            <a href="/productsList">Productos</a>           
        </div>

         <div class="informacion">
             <h4>CONTACTANOS</h4>
             <p>fernandoutileventos@gmail.com</p>  
         </div>

         <div class="informacion">

            <div class="facebook"><a href="https://www.facebook.com"><i class="fab fa-facebook fa-2x"></i></a></div>
            
            <div class="pinterest"><a href="https://www.pinterest.com"><i class="fab fa-pinterest fa-2x"></i></a></div>
 
            <div class="instagram"><a href="https://www.instagram.com"><i class="fab fa-instagram fa-2x"></i></a></div> 
             
         </div>
    </div>
    <div class="copyright">
        <p>©2022 by Mulita Consulting</p>
    </div>
</footer>