<header>
    <section class="iconos">
        <div class="boton-hamburguesa">                
            <a href=""><i class="fas fa-bars"></i></a>
        </div>
        <div class="logo">
            <a href="/"><h1 class="logo-h1">FERNANDO UTIL EVENTOS</h1></a>
         </div>
    </section>
    <!-- <section class="iconos-TabletDesktop">
        <div class="logoSinNombre">
            <a href="/"><h1>FERNANDO EVENTOS</h1></a>
        </div>
        <div class="searchBarTabletDesktop">
            <form action="">
                <input type="text" name="buscar" placeholder="Buscar">
                <a class="lupita" href=""><i class="fas fa-search"></i></a>
            </form>
        </div> 
       <div> -->
           
        <!-- </div>
    </section> -->
    <!-- <section class="barraBusquedaMobile">
        <div class="searchBar">
            <form action="">
                <input type="text" name="buscar" placeholder="Buscar">
                <a class="lupita" href=""><i class="fas fa-search"></i></a>
            </form>
        </div>
    </section> -->
    <section class="navTabletDesktop">     
        <div>
            <a href="/" class="logoSinNombre"><h1>FERNANDO UTIL EVENTOS</h1></a>
        </div>       
            <nav>
                <ul>
                    <li><a class="nav-li" href="/">Inicio</a></li>
                    <div class="dropdown">
                        <li><a class="nav-li" href="/productsList">Productos</a></li>
                            <div class="dropdown-content">
                                <a href="/productsList">Sillas & Mesas</a>
                                <a href="/productsList/#vajilla">Vajilla</a>
                                <a href="/productsList/#otros">Otros</a>
                            </div>
                    </div>
                    <!-- <li><a class="nav-li" href="/formPresupuesto">Pedir presupuesto</a></li> -->
                   
                </ul>
            </nav>                
    </section>
</header>